<ul id="navigation">
    {% for node in nodes %}
    {% if node.visible %}
    <li class="{% if node.name == name %}active{% elif loop.last %}last{% endif %}">
        <a href="{% if node.name == name %}#{% else %}{{ prefix }}{{ node.name }}.htm{% endif %}">
        {#<span class="menu-item">
        {% if node.name == "index" %}
        <a href="{{ prefix }}{{ node.name }}.htm">
        {% endif %}#}
            <span class="menu-left"></span>
            <span class="menu-mid">{{ node.title }}</span>
            <span class="menu-right"></span>
{#        {% if node.name == "index" %}#}
        </a>
{#        {% endif %}
        </span>
        </a>#}
    {% if node.subs %}
    <div class="sub">
        <ul>
        {% for sub in node.subs %}
            <li>
            {% if sub.link %}
            <a href="{{ sub.sources }}">{{ sub.title }}</a>
            {% else %}
            <a href="{{ prefix }}{{ node.name }}/{{ sub.name }}.htm">{{ sub.title }}</a>
            {% endif %}
            </li>
        {% endfor %}
        </ul>
        <div class="btm-bg"></div>
    </div>
    {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>

<!-- vim: ft=htmldjango 
-->
